.gallery-container{
  margin: 0 auto;
  width:1400px;
  justify-content: center;
  position: relative;
}

.gallery-title{
 position: absolute;
 margin: 0;
 left: 124px;
 top: 60px;
 z-index: 100;
 font-size: 22px;
 font-weight: 400;
 line-height: 100%;
 color: rgba(255, 255, 255, 1);
 width: 201px;
 height: 30px;
 letter-spacing: -0.8px;
}

.gallery-slides{
    position: relative;
    height: 717px;
}

.gallery__slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 717px;
    opacity: 0;
    z-index: 0;
}

.gallery__slide_active{
    display: block;
    opacity: 1;
}


.box-image-first {
  margin: 0 auto;
  height:717px ;
  background-image: url('image/ЖК-лесной-пейзаж.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom center;
  width:1400px;
}
.text-image-first{
 position: absolute;
 top: 575px;
 left: 125px;
 color: rgba(255, 255, 255, 1);
 font-size: 30px;
 font-weight: 400;
 line-height: 100%;
}
.box-image-second {
  margin: 0 auto;
  height: 100%;
  background-image: url('image/Проект_гостинной.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:1400px;
}
.text-image-second{
 position: absolute;
 top: 575px;
 left: 125px;
 color: rgba(255, 255, 255, 1);
 font-size: 30px;
 font-weight: 400;
 line-height: 100%;
}
.box-image-third {
  margin: 0 auto;
  height: 100%;
  background-image: url('image/Кухня_гостинная.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:1400px;
}
.text-image-third{
 position: absolute;
 top: 575px;
 left: 125px;
 color: rgba(255, 255, 255, 1);
 font-size: 30px;
 font-weight: 400;
 line-height: 100%;
}
.box-image-fourth {
  margin: 0 auto;
  height: 100%;
  background-image: url('image/Скандинавский_стиль.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:1400px;
}
.text-image-fourth{
 position: absolute;
 top: 575px;
 left: 125px;
 color: rgba(255, 255, 255, 1);
 font-size: 30px;
 font-weight: 400;
 line-height: 100%;
}

.gallery-controls{
 position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  transform: translateY(-50%);
  box-sizing: border-box;

}

.gallery__control-prev,
.gallery__control-next{
   width: 50px;
  height: 50px;
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
}
.gallery__control-prev:hover img,
.gallery__control-next:hover img{
   filter: brightness(0) saturate(100%) invert(50%) sepia(100%) hue-rotate(180deg);

}
.gallery__control-prev{
}
.gallery__control-next{
    transform: rotate(180deg);
}


@media (max-width: 1199px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-slide{
    height: 536px;
  }
  .gallery-title{
    font-size: 22px;
    left: 50px;
  }
  .gallery__control-prev, 
  .gallery__control-next{
    width: 40px;
    height: 40px;
    bottom: 152px;
}
  .gallery__control-prev{
  left: 41px;
}
.gallery__control-next{
    left: 95px;
}

  .box-image-first,
  .box-image-second,
  .box-image-third,
  .box-image-fourth {
    margin: 0 auto;
    width: 100vw;
    height: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .text-image-first,
  .text-image-second,
  .text-image-third,
  .text-image-fourth {
    font-size: 25px;
    height: 68px;
    width: 377px;
    left: 50px;
  }
}

@media (max-width: 767px) {
   .gallery-container {
    width: 100%;
  }
  .gallery-slide{
    height: 408px;
  }
  .gallery-title{
    font-size: 14px;
  }
  .gallery__control-prev, 
  .gallery__control-next{
    width: 40px;
    height: 40px;
    bottom: 189px;
}
  .gallery__control-prev{
  left: 7px;
}
.gallery__control-next{
    left: 340px;
}


  .box-image-first,
  .box-image-second,
  .box-image-third,
  .box-image-fourth {
    margin: 0 auto;
    width: 100vw;
    height: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .text-image-first,
  .text-image-second,
  .text-image-third,
  .text-image-fourth {
   font-size: 19px;
   width: 287px;
   height: 52px;
   left: 15px;
  }
}
