
.SERVICE{
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(18, 18, 18, 1);
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 150px;
}

.phone-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.phone-wrapper > div {
  display: flex;
  flex-direction: column;
  height: auto; /* не фиксируй 270px, если внутри есть текст */
}


.service-container h2{
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 34px;
  padding-top: 150px;
}
.service-container p{
  margin: 0;
  color: rgba(255, 255, 255, 1);
 font-size: 30px;
 font-weight: 400;
 line-height: 100%;
 padding-top: 25px;
 padding-bottom: 85px;
}
.phone-wrapper img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.js-btn{
  width: 1150px;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0;
  border: 1px solid rgba(173, 24, 24, 1);
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgba(173, 24, 24, 1) ;
  color: rgba(255, 255, 255, 1);
  font-size: 30px; 
  font-weight: 400;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup__content{
  position: relative;
  width: 777px;
  max-height: 100%;
  overflow-y: scroll;
  padding: 30px;
  background-color: #fff;
}

.container-input{
 display: flex;
 flex-direction: column;
 max-width:643px;
 width: 100%;

}
.popup-name,
.popup-email,
.popup-number{
  margin: 0;
 font-size: 25px;
 font-weight: 400;
 line-height: 100%;
 color: rgba(0,0,0, 1);
 border: none;
 border-bottom: 2px solid grey;
 margin-bottom: 50px;
}

.btn-send{
  width: 100%;
  height: 67px;
  display: grid;
  place-items: center;
  border: 1px solid rgba(173, 24, 24, 1);
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgba(173, 24, 24, 1) ;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
}
.popup_open{
 opacity: 1;
 visibility: visible;
}

.radix-close{
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  top: 32px;
  right: 34px;
  cursor: pointer;
}
.popup__title{
  display: block;
  margin:0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}
.popup__text{
  display: block;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 60px;
}

.box-komplektacia p{
  padding-bottom: 150px;
}


@media (max-width:1199px){
.SERVICE{
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 120px;
}
.phone-wrapper {
  gap: 10px;
}
.service-container p{
 font-size: 25px;
 font-weight: 400;
 line-height: 100%;
 padding-top: 25px;
 padding-bottom: 85px;
}
.popup__content{
 max-width:708px;
 width: 100%;
  height:auto;
}
.js-btn{
 width: 100%;
  height: 153px;
}
}

@media (max-width:767px){
  .SERVICE{
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 120px;
}
.phone-wrapper {
  display: grid;
  grid-template-columns:1fr;
}
.phone-wrapper > div {
  display: flex;
  flex-direction: column;
}
.service-container p{
 font-size: 18px;
 font-weight: 400;
 line-height: 100%;
 padding-top: 25px;
 padding-bottom: 85px;
}
.popup__content{
 max-width:611px;
 width: 100%;
  height:auto;
}
.popup__title{
  font-size: 25px;
  font-weight: 400;
}
.popup-name, 
.popup-email, 
.popup-number{
 font-size: 18px;
}
.popup__text{
  font-size: 14px;
}
.js-btn{
 width: 100%;
  height: 100px;
}
.radix-close{
  max-width: 30px;
  max-height: 30px;
}
}
