html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 15px;
  height: 128px;

}
.logo-img{
  width: 126px;
  padding-left: 125px;
}



.nav-header {
  display: flex;
  padding-left: 558px;
  padding-right: 124px;
  gap:60px;
  cursor: pointer;
  align-items: center;
  

}
.nav-header a {
  margin: 0;
  text-decoration: none;
  color: inherit; 
}

.main-container {
  margin: 0 auto;
  align-items: center;
  width: 1400px;
  padding-left: 125px;
  padding-right: 125px;
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 150px;
}

.main-text h1 {
  width: 956px;
  height: 120px;
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing:-2px;
  margin-top: 0;
}

.p-img {
  position: relative;
  background-image: url('image/first-phone.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1150px;
  height: 500px;
  display: flex;
  align-items: flex-end;

}

.p-img p {
  position: absolute;
  color: white;
  width: 430px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.5px;
  left: 40px;
  top:379px;
  bottom: 40px;
}

.body-container {
  margin: 0 auto;
  width: 1400px;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 125px;
  padding-bottom: 150px;
}


.body-container h2{
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin-top: 0;
}
.body-container p{
  color: rgba(0, 0, 0, 1);
  font-size: 45px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.5px;
  max-width: 1048px;
}

.button {
  width: 100%;
  max-width: 255px;
  height: 67px;
  margin-top: 30px;
  border: 2px solid rgba(173, 24, 24, 1);
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: rgba(173, 24, 24, 1);
}

.button p {
  color: rgba(173, 24, 24, 1);
  font-size: clamp(1rem, 2vw, 20px);
  text-align: center;
  line-height: 67px;
  margin: 0;
  transition: color 0.3s ease;
}

.button p:hover {
  color: white;
}

.project-info-container {
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
  padding-left: 125px;
  padding-right: 125px;
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 150px;
}

.project-info-container h2{
  margin: 0;
  width: 100%;
 color: rgba(0, 0, 0, 1);
 font-size: 18px;
 font-weight: 400;

}

.Photo-PravBEREG img,
.Photo-NORVEJ img,
.Photo-OZERA img {
  width: 1150px;
  height: 450px;
  display: block;
  margin-top: 90px;
 

}

.Photo-PravBEREG p,
.Photo-NORVEJ p,
.Photo-OZERA p {
  font-size: clamp(1.5rem, 4vw, 30px);
  line-height: 1.2;
}
a{
font-weight: 400;
font-size: 20px;
line-height: 100%;
color: rgba(173, 24, 24, 1);

}
.button-all {
  width: 100%;
  display: block;
  height: auto;
  border: 1px solid rgba(173, 24, 24, 1);
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;
  margin-top: 90px;
}

.button-all:hover {
  background-color: rgba(173, 24, 24, 1);
}

.button-all p {
  font-size: clamp(1.5rem, 4vw, 30px);
  color: rgba(173, 24, 24, 1);
  transition: color 0.3s ease;
}

.button-all p:hover {
  color: white;
}
.service-container{
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: rgba(18, 18, 18, 1);
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 150px;
}
.service-container h2{
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 34px;
  padding-top: 150px;
}
.service-container p{
  margin-bottom: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
 max-width: 661px;
  height: 41px;
 letter-spacing: -1px;
}
.Phone-plan img,
.Phone-disain img,
.Phone-Nadzor img,
.Phone-komplektacia img{
  width: 1150px;
  height: 270px;
  justify-content: center;

}
.Phone-komplektacia p{
  padding-bottom: 150px;
}
.project-peizag {
  margin: 0 auto;
  position: relative;
  background-image: url('image/ЖК-лесной-пейзаж.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom center;
  width:1400px;
  height: 717px;
  display: flex;
}

.project-peizag p{
  margin: 0;
 position: absolute;
 left: 125px;
 top: 575px;
 font-size: 30px;
 font-weight: 400;
 line-height: 100%;
 color: rgba(255, 255, 255, 1);
 width: 443px;
 height: 82px;
}

.MAKS{
  border-radius: 12px;
  background-color: black;
  color: #f5f5f5;
  font-size: 40px;
  width: 500px;
  height: auto;
  text-align: center;
  display: block;
  
}
.Contacts{
 background-color:rgba(255, 255, 255, 1);
  width: 1400px;
  height:553px ;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 125px;
  padding-right: 125px;
}

.Contacts h2{
margin: 0;
width: 90px;
font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: rgba(18, 18, 18, 1);
}

.Zvonok{
  color: rgba(0, 0, 0, 1);
 font-size: 60px;
 font-weight: 400;
 text-align: left;
 width: 600px;
 height: 60px;
 letter-spacing: -1.5px;
 text-decoration: none;
 line-height: 60px;
}

.Contacts a{
  margin: 0;
 display: block;
 color: rgba(0, 0, 0, 1);
 font-weight: 400;
 font-size: 60px;
 line-height: 60px;
 
}
.container-all-info{
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height:229px;
  background-color: rgba(51,51,51, 1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-bottom{
  position: absolute;
  display: flex;
  left: 50%;
  top: 60px;
  gap: 50px;
  cursor: pointer;
  transform: translateX(-50%);
}
.nav-bottom a {
  text-decoration: none;
  color: #f5f5f5; 
}

.name-bottom p {
  margin: 0;
  position: absolute;   
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;

}
.nav-bottom p{
  justify-content: center;
  color: rgba(255, 255, 255, 1);
 font-size: 18px;
 font-weight: 400;
}
.name-bottom p{
  justify-content:center;
  position: absolute;
  color: rgba(255, 255, 255, 1);
 font-size: 20px;
 font-weight: 400;
 bottom: 30px;
}

