@import "body.css";
@import "main.css";
@import "header.css";
@import "project-info.css";
@import "services.css";
@import "review.css";
@import "footer.css";
@import "gallery.css";
@import "contact.css";

/* Add a semicolon after @import for proper syntax */

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 auto;
}

.MAKS{
  border-radius: 12px;
  background-color: black;
  color: #f5f5f5;
  font-size: 40px;
  width: 500px;
  height: auto;
  text-align: center;
  display: block;
  
}
