body{
    width: 100%;
    font-family:  "Manrope", sans-serif; 
}
.header-container {
display: flex;
align-items: flex-start; 
position: relative;
width: 1151px;
height: 25px;
margin-top: 32.82px;
margin-left: 124.65px;
}

.nav {
  display: flex;
  gap: 60px; 
  padding-left: 546px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.main-container{
position: relative;
width: 1400px;
height: 560px;
margin-left: 125px;
}
.main-text h1{
font-size: 60px;
line-height: 60px;
width: 956px;
height: 120px;
font-weight: 400;
letter-spacing: -1px;
}
.p-img{  
position: relative;
background-image: url('image/first-phone.png');
background-repeat: no-repeat;
margin-top: 30px;
width: 1150px;
height: 410px;
padding-left: 40px;
padding-top: 340px;
padding-right: 680px;
padding-bottom: 61px;
}

.p-img p{
position: absolute;
font-weight: 400;
width: 430px;
height: 60px;
font-size: 20px;
color: white;
letter-spacing: -0.5px;
}
.body-container{
position: relative;
width: 1051px;
height: 518px;
margin-top: 150px;
margin-left: 128px;
}
.description-text h2{
position: absolute;
width: 53px;
height: 25px;
color: rgba(0, 0, 0, 1);
font-size: 18px;
font-weight: 400;
line-height: 100%
}
.description-text p{
position: absolute;
padding-top: 30px;
width: 1048px;
height: 366px;
color: rgba(0, 0, 0, 1);
font-size: 45px;
font-weight: 400;
line-height: 100%;
letter-spacing: -1.5px;
}
.button{
position: absolute;
margin-top: 426px;
width: 255px;
height: 67px;
border: 2px solid;
border-color:rgba(173, 24, 24, 1);
transition: 0.3s ease;
cursor: pointer;
}

.button:hover{
background-color: rgba(173, 24, 24, 1);
}


.button p{
    position: absolute;
   width: 175px;
   height: 27px; 
   font-weight: 400;
   font-size: 20px;
   line-height: 100%;
   color: rgba(173, 24, 24, 1);
   transition:color 0.3s ease;
   padding-top: 0px;
   padding-left: 40px;

}
.button p:hover{
color: white;
}
.project-info-container{
margin-left: 128px;
}
.project-info-container h2{
width: 79px;
height: 25px;
font-size: 18px;
line-height: 100%;
font-weight: 400;
}
.Photo-PravBEREG p{
width: 501px;
height: 41px;
font-size: 30px;
font-weight: 400;
line-height: 100%;
letter-spacing: -1px;
}
.Photo-PravBEREG{
    width: 1150px;
    height: 450px;
}
.Photo-PravBEREG a{
color:rgba(173, 24, 24, 1);
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-decoration: none;
}
.Photo-NORVEJ{
margin-top: 188px;
width: 1150px;
height: 450px;
}
.Photo-NORVEJ p{
width: 520px;
height: 41px;
font-size: 30px;
font-weight: 400;
line-height: 100%;
letter-spacing: -1.5px;
}
.Photo-NORVEJ a{
color:rgba(173, 24, 24, 1);
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-decoration: none;
}
.Photo-OZERA{
margin-top: 188px;
width: 1150px;
height: 450px; 
}
.Photo-OZERA p{
width: 530px;
height: 41px;
font-size: 30px;
font-weight: 400;
line-height: 100%;
letter-spacing: -1.5px;
}
.Photo-OZERA a{
color:rgba(173, 24, 24, 1);
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-decoration: none;
}
.button-all{
position: relative;
border: 1px solid;
border-color: rgba(173, 24, 24, 1);
height: 153px;
width: 1150px;
margin-top: 188px;
transition: 0.3s ease;
cursor: pointer;
}
.button-all:hover{
background-color: rgba(173, 24, 24, 1); 
}
.button-all p{
position: absolute;
color:rgba(173, 24, 24, 1);
width:1150px;
height: 41px;
padding-top: 28px;
text-align: center;

font-size: 30px;
font-weight: 400;
 transition:color 0.3s ease;
} 

.button-all p:hover{
    color:white
}
